.header::after, .content::after, .footer::after, .social::after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

body {
  background: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  max-width: 758px;
  margin: 0 auto;
}

.header {
  margin-bottom: 4px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.header h1 {
  float: left;
  font-family: calibri, sans-serif;
  font-size: 5.5em;
  font-weight: 300;
  color: #f4f4f4;
  margin: 0;
  line-height: 1.1;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header h1 {
    display: inline-block;
  }
}

.header h2 {
  float: left;
  width: 20%;
  margin: 18px 0 0 7px;
  color: #969696;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.1;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header h2 {
    display: inline-block;
  }
}

.main-menu {
  background: #484848;
  margin-bottom: 41px;
}

.menu {
  padding: 15px;
  position: relative;
}

.menu__icon {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .menu__icon {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border: 1px solid #9f9898;
    width: 37px;
    height: 31px;
    margin: 4px;
    border-radius: 3px;
    cursor: pointer;
    background: transparent;
  }
  .menu__icon:hover {
    background: #969696;
  }
  .menu__icon .fa-bars {
    font-size: 26px;
    color: #fff;
    padding: 3px 6px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .menu__nav {
    position: absolute;
    top: 50px;
    right: 20px;
    text-align: center;
    width: 93%;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    display: none;
    z-index: 10;
    background: rgba(139, 145, 152, 0.9);
  }
}

.menu__nav a {
  font-size: 14px;
  font-weight: bold;
  border-right: 1px solid #555555;
  padding: 15px 16px 14px;
  margin: 0 6px;
  color: #969696;
  text-decoration: none;
}

.menu__nav a:hover {
  border-bottom: 2px solid #dbdbdb;
  color: #dbdbdb;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .menu__nav a {
    width: 90%;
    font-size: 1.1em;
    display: inline-block;
    border: none;
    color: #fff;
  }
  .menu__nav a:hover {
    background: #8b9198;
  }
}

.menu__icon:hover + .menu__nav,
.menu__nav:hover {
  display: block;
}

.form-name {
  width: 70%;
  float: left;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .form-name {
    float: none;
    width: 100%;
  }
}

.form-name form input {
  border: none;
  background: #f6f6f6;
  width: 87%;
  padding: 16px 0 13px 68px;
  margin: 10px 0 18px;
  border-radius: 5px;
}

.form-name form input::-webkit-input-placeholder {
  font-family: calibri, sans-serif;
  font-size: 18px;
  color: #6d747c;
}

.form-name form input::-moz-placeholder {
  font-family: calibri, sans-serif;
  font-size: 18px;
  color: #6d747c;
}

.form-name form input:-moz-placeholder {
  font-family: calibri, sans-serif;
  font-size: 18px;
  color: #6d747c;
}

.form-name form input:-ms-input-placeholder {
  font-family: calibri, sans-serif;
  font-size: 18px;
  color: #6d747c;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .form-name form input {
    width: 95%;
  }
}

.input-after {
  position: relative;
}

.input-after::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 48px;
  height: 46px;
  background-color: #484848;
  background-image: url(../images/icon-man.png);
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .input-after {
    margin-left: 19px;
  }
}

.checkbox {
  width: 28%;
  float: left;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .checkbox {
    float: none;
    width: 95%;
    margin-left: 19px;
  }
}

.checkbox input {
  display: none;
}

.checkbox input:checked + label::after {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 5px;
  background-image: url(../images/icon-checkbox.png);
  background-repeat: no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .checkbox input:checked + label::after {
    top: 0;
  }
}

.checkbox label {
  display: block;
  margin: 15px 0 7px;
  padding-left: 33px;
  cursor: pointer;
}

.checkbox label::before {
  content: '';
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px solid #eeeeee;
  position: absolute;
  top: 17px;
  left: 2px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .checkbox label::before {
    top: 0;
  }
}

.info {
  width: 65%;
  float: left;
  margin: 29px 0 0 4px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .info {
    float: none;
    width: 94%;
    margin-left: 19px;
  }
}

.info h2 {
  color: #0793ff;
  font-size: 1.5em;
  font-weight: lighter;
}

.info p {
  color: #464646;
  font-size: 1.1em;
  line-height: 1.3;
  font-weight: lighter;
}

.img {
  width: 28%;
  float: left;
  margin: 59px 0 0 27px;
  padding: 10px 10px 2px;
  border: 1px solid #dedede;
  border-radius: 4px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .img {
    float: none;
    width: 86%;
    margin-left: 19px;
  }
}

.img img {
  width: 100%;
  height: auto;
}

.footer {
  background: #484848;
  margin-top: 60px;
}

.footer-contact {
  width: 63%;
  float: left;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer-contact {
    float: none;
    width: 95%;
    margin: 0 0 33px 19px;
    text-align: center;
  }
}

.footer-contact h3 {
  color: #fff;
  font-size: 1em;
  font-weight: normal;
  padding: 14px 0 14px;
  margin: 0;
}

.footer-contact p {
  margin: 0;
  color: #d8d8d8;
  font-size: 0.8em;
  padding-bottom: 2px;
}

.footer-contact p a {
  color: #d8d8d8;
  text-decoration: none;
}

.footer-social {
  width: 33%;
  float: left;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer-social {
    float: none;
    width: 95%;
    margin: 0 0 33px 19px;
    text-align: center;
  }
}

.footer-social h3 {
  color: #fff;
  font-size: 1em;
  font-weight: normal;
  padding: 14px 0 9px;
  margin: 0;
}

.social__item {
  width: 28%;
  float: left;
  background: #3c3c3c;
  border-radius: 5px;
  text-align: center;
  margin: 0 11px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .social__item {
    width: 30%;
  }
}

.icon {
  background: #2b2b2b;
  border-radius: 50%;
  display: inline-block;
  width: 41px;
  height: 41px;
  margin: 15px 0 9px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .icon {
    margin: 15px 0;
  }
}

.icon a {
  text-decoration: none;
}

.icon a span {
  font-size: 1.1em;
  color: #fff;
  padding: 8px 13px 10px;
  font-weight: bold;
  display: inline-block;
}

.icon i {
  font-size: 1.3em;
  color: #fff;
  padding: 11px 16px 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .icon i {
    padding: 11px 12px 10px;
  }
}

.score {
  color: #fff;
  font-size: 0.8em;
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .score {
    padding-top: 15px;
  }
}

.quantity {
  color: #fff;
  font-size: 0.6em;
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .quantity {
    padding-bottom: 20px;
  }
}
